@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

$default-font-size: 1.6rem;
$default-line-height: 1.5;

$body-color: #e4e9f7;
$sidebar-color: #fff;
$toggle-color: #ddd;
$text-color: #707070;

$transform-1: all 0.2s ease;
$transform-2: all 0.3s ease;
$transform-3: all 0.4s ease;
$transform-4: all 0.5s ease;

$primary-brown-color: #512900;
$secondary-brown-color: #633c00;

$login-primary-blue: #233975;
