.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25rem;
  background: $sidebar-color;
  padding: 1rem 1.4rem;

  header {
    display: flex;
    align-items: center;
    position: relative;

    .image-text {
      .image {
        min-width: 6rem;
        display: flex;
        align-items: center;

        img {
          width: 4rem;
          border-radius: 6px;
        }
      }
      .header-text {
        display: flex;
        flex-direction: column;
        &.text {
          font-size: 1.5rem;
          font-weight: 500;
          .name {
            font-weight: 600;
          }
          .profession {
            margin-top: -2px;
          }
        }
      }
    }

    .toggle {
      position: absolute;
      top: 50%;
      right: -2.5rem;
      transform: translateY(-50%);
      height: 2.5rem;
      width: 2.5rem;
      background: $primary-brown-color;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $sidebar-color;
      font-size: 2.2rem;
    }
  }

  li {
    height: 5rem;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

    .icons {
      font-size: 2rem;
      min-width: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon,
    .text {
      color: $text-color;
      transition: $transform-2;
    }

    a {
      text-decoration: none;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      transition: $transform-4;
      &:hover {
        background: $primary-brown-color;
        .text,
        .icon {
          color: $sidebar-color;
        }
      }
    }
  }

  .search-box {
    background-color: $primary-brown-color;

    input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 6px;
      background-color: $primary-brown-color;
    }
  }

  .menu-bar {
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mode {
      background: $primary-brown-color;

      .moon-sun {
        height: 5rem;
        width: 6rem;
        display: flex;
        align-items: center;
      }

      i {
        position: absolute;

        &.sun {
          opacity: 0;
        }
      }
      .toggle-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 6rem;
        cursor: pointer;

        .switch {
          position: relative;
          height: 2.2rem;
          width: 4.4rem;
          border-radius: 2.5rem;
          background: &toggle-color;
        }
      }
    }
  }
}

.switch::before {
  content: '';
  position: absolute;

  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background: $sidebar-color;
}
